@font-face{
    font-family: "Daydream";
    src:local("Daydream"),
    url(~assets/fonts/Daydream.ttf) format("truetype");
}


@font-face{
    font-family: "PPMondewest-Regular";
    src:local("PPMondwest-Regular"),
    url(~assets/fonts/PPMondwest-Regular.otf) format("opentype");
}


@font-face{
    font-family: "PPNeueBit-Bold";
    src:local("PPNeueBit-Bold"),
    url(~assets/fonts/PPNeueBit-Bold.otf) format("opentype");
}
